* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #FFCC00;
}

#ticomlogo {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 5%;
  height: 5%;
}

#ticomwelcome {
  display: inline-block;
  float: left;
  color: white;
  padding-left: 20%;
  font-size: 5mm;
  font-weight: bold;
}

#ticomheader {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.glitchButton {
  float: right;
}

#ticomavatar {
  position: absolute;
  top: 0;
  left: 10%;
  display: inline-block;
  background-color: white;
}

#ticomnavigation {
  color: white;
  font-size: 5mm;
  font-weight: bold;
  margin-top: 5em;
  width: 15%;
  float: left;
  height: 100vh;
}

#ticomsubnavigation {
  list-style-type: none;
}

#ticomcontenido {
  margin-top: 5em;
  display: inline-block;
  width: 60%;
  word-wrap: break-word;
  float: left;
}

#ticomsocial {
  float: right;
}

#audio {
  width: 100%;
}

.button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: coral;
}


.show {
  opacity: 1;
  transition: opacity 5000ms;
}

.hide {
  opacity: 0;
  transition: opacity 5000ms;
}

button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
